.Wrap {
  width: 100%;
  .contain {
    width: 1250px;
    padding-top: 300px;
    padding-bottom: 180px;

    .tabs {
      display: flex;
      width: 460px;
      .tab {
        width: 50%;
        height: 50px;
        background: #fff;
        color: #000;
        border: 1px solid #e2e2e2;
        text-align: center;
        line-height: 50px;
        font-size: 1rem;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        cursor: pointer;
      }

      .active-tab {
        background: #000;
        height: 51.4px;
        color: #fff;
        border: none;
      }
    }

    .content-tabs {
      .content {
        width: 460px;
        display: none;
      }

      .active-content {
        width: 460px;
        display: block;

        > form {
          input[type="text"] {
            width: 458px;
            height: 46px;
            margin-top: 22px;
            margin-bottom: 10px;
            border: 1px solid #dcdcdc;
            padding-left: 10px;
            font-size: 14px;
            font-family: "Noto Sans KR", sans-serif;
            box-sizing: border-box;
          }
          input[type="password"] {
            width: 458px;
            height: 46px;
            margin-bottom: 10px;
            border: 1px solid #dcdcdc;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 14px;
            padding-left: 10px;
            box-sizing: border-box;
          }
          input[type="checkbox"] {
            appearance: none;
            border-radius: 3px;
            width: 15px;
            height: 15px;
            border: 1px solid #b7b7b7;
            margin-right: 10px;
            position: relative;
            top: 2px;
            cursor: pointer;
            &:checked {
              background-image: url("../../images/checked.png");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border: none;
            }
          }
          label {
            > span {
              font-size: 15px;
              font-family: "Noto Sans KR", sans-serif;
              font-weight: 500;
              cursor: pointer;
            }
          }

          input[type="button"] {
            width: 458px;
            height: 57px;
            background: #000;
            border: none;
            color: #fff;
            margin-top: 20px;
            font-size: 18px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      .logLink {
        width: 455px;
        display: flex;
        justify-content: space-around;
        padding: 25px 0;
        > a {
          > span {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 400;
            font-size: 16px;
            position: relative;
            color: #6b6b6b;
            &::after {
              content: "";
              display: block;
              width: 1px;
              height: 22px;
              background: #e0e0e0;
              position: absolute;
              top: 2px;
              right: -41px;
            }
          }
          &:nth-of-type(2) span:after {
            width: 1.5px;
          }
          &:nth-of-type(3) span:after {
            display: none;
          }
        }
      }

      .loginWrap {
        .google_login {
          width: 460px;
          height: 58px;
          border: 1px solid #dadada;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;
          .google_logo {
            width: 61px;
            height: 100%;
            margin: 0;
            border-right: 1px solid #dadada;
            background: url("../../images/google_logo.png") no-repeat center
              center/50%;
          }
          > span {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            margin-left: 30px;
          }
        }
        .naver_login {
          width: 460px;
          height: 58px;
          border: 1px solid #dadada;
          display: flex;
          align-items: center;
          margin-bottom: 110px;
          cursor: pointer;

          .naver_logo {
            width: 61px;
            height: 100%;
            margin: 0;
            border-right: 1px solid #dadada;
            background: url("../../images/naver_logo.png") no-repeat center
              center/50%;
          }
          > span {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            margin-left: 30px;
          }
        }
      }

      input[type="submit"] {
        width: 458px;
        height: 57px;
        background: #000;
        border: none;
        color: #fff;
        margin-top: 20px;
        font-size: 18px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 120px;
      }
    }
  }
}

// 반응형

@media all and (max-width: 1024px) {
  .Wrap {
    .contain {
      width: 100%;
      .content-tabs {
        .active-content {
          .logLink {
            a {
              span {
                &:nth-child(1)::after {
                  width: 1.5px;
                }
                &:nth-child(2)::after {
                  width: 1.3px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) and (min-width: 500px) {
  .Wrap {
    .contain {
      width: 100%;
      padding: 228px 100px;
      box-sizing: border-box;

      .tabs {
        width: 100% !important;
        .tab {
          width: 50% !important;
        }
      }
      .content-tabs {
        .active-content {
          width: 100%;
          form {
            display: flex;
            flex-direction: column;
            input {
              width: 100% !important;
              margin-left: 0;
              margin-right: 0;
            }
            label {
              margin-left: 0;
              input[type="checkbox"] {
                width: 15px !important;
                margin-left: 0 !important;
              }
            }
          }
        }
        .logLink {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          a {
            span {
              &::after {
                right: -60px;
              }
            }
          }
        }
        .loginWrap {
          .google_login {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) and (min-width: 425px) {
  .Wrap {
    .contain {
      width: 100% !important;
      padding-top: 200px;
      padding-bottom: 76px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;

      .tabs {
        width: 100% !important;
        .tab {
          width: 50% !important;
        }
      }
      .content-tabs {
        .active-content {
          width: 100%;
          form {
            display: flex;
            flex-direction: column;
            input {
              width: 100% !important;
              margin-left: 0;
              margin-right: 0;
            }
            label {
              margin-left: 0;
              input[type="checkbox"] {
                width: 15px !important;
                margin-left: 0 !important;
              }
            }
          }
        }
        .logLink {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          a {
            span {
              &::after {
                right: -31px;
              }
            }
          }
        }
        .loginWrap {
          .google_login {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media all and (max-width: 425px) and (min-width: 375px) {
  .Wrap {
    .contain {
      width: 100% !important;
      padding-top: 217px;
      padding-bottom: 76px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;

      .tabs {
        width: 100% !important;
        .tab {
          width: 50% !important;
        }
      }
      .content-tabs {
        .active-content {
          width: 100%;
          form {
            display: flex;
            flex-direction: column;
            input {
              width: 100% !important;
              margin-left: 0;
              margin-right: 0;
            }
            label {
              margin-left: 0;
              input[type="checkbox"] {
                width: 15px !important;
                margin-left: 0 !important;
              }
            }
          }
        }
        .logLink {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          a {
            span {
              &::after {
                height: 18px;
                top: 4px;
                right: -21px;
              }
            }
          }
        }
        .loginWrap {
          .google_login {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media all and (max-width: 375px) and (min-width: 320px) {
  .Wrap {
    .contain {
      width: 100% !important;
      padding-top: 217px;
      padding-bottom: 76px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;

      .tabs {
        width: 100% !important;
        .tab {
          width: 50% !important;
        }
      }
      .content-tabs {
        .active-content {
          width: 100%;
          form {
            display: flex;
            flex-direction: column;
            input {
              width: 100% !important;
              margin-left: 0;
              margin-right: 0;
            }
            label {
              margin-left: 0;
              input[type="checkbox"] {
                width: 15px !important;
                margin-left: 0 !important;
              }
            }
          }
        }
        .logLink {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          a {
            span {
              &::after {
                height: 18px;
                top: 4px;
                right: -10px;
              }
            }
          }
        }
        .loginWrap {
          .google_login {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
