.main {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .product-wrap {
    width: 100vw;
    padding-top: 100px;
    background: #000;

    .video {
      width: 100%;
      height: 100vh;
      filter: blur(3px);
      transition: filter 0.3s ease;
      opacity: 0.8;
      &:hover {
        filter: blur(0);
      }
    }
  }
  .mainWrap {
    .txt {
      .txt_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        text-align: left;
        margin-left: -321px;
        margin-top: -20px;

        > .txt-typing {
          font-size: 5rem;
          color: #fff;
          line-height: 3.8rem;
          font-family: "Roboto";
          border-right: 3px solid white;
          animation: blink 0.5s infinite, typing 8s steps(22) infinite;
          white-space: nowrap;
          overflow: hidden;
        }
        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 623px;
          }
          80% {
            width: 623px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
      }
      > a {
        position: absolute;
        top: 60%;
        left: 50%;
        z-index: 2;
        margin-left: -100px;
        > span {
          opacity: 0;
          display: block;
          width: 200px;
          height: 47px;
          font-size: 18px;
          text-align: center;
          line-height: 47px;
          border: 1.5px solid #fff;
          font-family: "Roboto";
          font-weight: 400;
          letter-spacing: 0.8px;
          cursor: pointer;
          transition: 0.5s;
          color: #fff;
          transform: translateY(4rem);
          animation: fadeUp 3s 4s ease forwards;

          &:hover {
            background: #000;
            color: #fff;
            border: 1.5px solid #000;
          }
        }
        @keyframes fadeUp {
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media all and (max-width: 1440px) {
  .main {
    padding-top: 53px;
    .product-wrap {
      overflow: hidden;
      padding-top: 33px;
      .video {
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt_wrap {
        // width: 50%;
        margin-left: -335px;
        margin-top: -46px;
        h3 {
          font-size: 6vw;
        }
        a {
          button {
            font-size: 1.2vw;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1024px) and (min-width: 928px) {
  .main {
    padding-top: 94px;
    .product-wrap {
      overflow: hidden;
      padding-top: 0;
      .video {
        transform: scale(1.4);
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt_wrap {
        margin-left: -326px;
        margin-top: -4px;
        .txt-typing {
          font-size: 7vw;
        }
      }
      a {
        span {
        }
      }
    }
  }
}
@media all and (max-width: 928px) and (min-width: 768px) {
  .main {
    padding-top: 94px;
    .product-wrap {
      overflow: hidden;
      padding-top: 0;
      .video {
        transform: scale(1.4);
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -253px;
          margin-top: -35px;
          .txt-typing {
            font-size: 65px;
            line-height: 3rem;
          }
          @keyframes typing {
            0% {
              width: 0;
            }
            50% {
              width: 505px;
            }
            80% {
              width: 505px;
            }
            90% {
              width: 0;
            }
            100% {
              width: 0;
            }
          }
        }
        a {
          top: 56%;
          left: 51%;
          span {
            width: 160px;
            height: 45px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 768px) and (min-width: 500px) {
  .main {
    height: 80vh;
    padding-top: 0;
    .product-wrap {
      height: 80vh;
      overflow: hidden;
      padding-top: 0;
      .video {
        transform: scale(1.4);
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -196px;
          margin-top: 25px;
          .txt-typing {
            font-size: 50px;
            line-height: 2.6rem;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 390px;
          }
          80% {
            width: 390px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
        a {
          top: 68%;
          left: 53%;
          span {
            font-size: 14px;
            width: 160px;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) and (min-width: 426px) {
  .main {
    height: 65vh;
    .product-wrap {
      height: auto;
      overflow: hidden;
      .video {
        transform: scale(1.7);
        height: 86vh;
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -158px;
          margin-top: 30px;
          .txt-typing {
            font-size: 40px;
            line-height: 2rem;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 315px;
          }
          80% {
            width: 315px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
        a {
          top: 67%;
          left: 56%;
          span {
            width: 150px;
            height: 33px;
            line-height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 426px) and (min-width: 425px) {
  .main {
    height: 60vh;
    padding-top: 0;
    .product-wrap {
      height: auto;
      padding-top: 0;
      overflow: hidden;
      .video {
        height: 80vh;
        transform: scale(1.7);
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -158px;
          margin-top: 30px;
          .txt-typing {
            font-size: 40px;
            line-height: 2rem;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 315px;
          }
          80% {
            width: 315px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
        a {
          top: 67%;
          left: 56%;
          span {
            width: 150px;
            height: 33px;
            line-height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 425px) and (min-width: 375px) {
  .main {
    height: 42vh;
    padding-top: 155px;
    .product-wrap {
      padding-top: 0;
      overflow: hidden;
      .video {
        transform: scale(1.7);
        height: 42vh;
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -138px;
          margin-top: 38px;
          .txt-typing {
            font-size: 35px;
            line-height: 1.8rem;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 275px;
          }
          80% {
            width: 275px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
        a {
          top: 69%;
          left: 56%;
          span {
            width: 150px;
            height: 33px;
            line-height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 375px) and (min-width: 320px) {
  .main {
    height: 42vh;
    padding-top: 155px;
    .product-wrap {
      padding-top: 0;
      overflow: hidden;
      .video {
        transform: scale(1.7);
        height: 42vh;
        margin-top: 0;
      }
    }
    .mainWrap {
      .txt {
        .txt_wrap {
          margin-left: -138px;
          margin-top: 38px;
          .txt-typing {
            font-size: 35px;
            line-height: 1.8rem;
          }
        }
        @keyframes typing {
          0% {
            width: 0;
          }
          50% {
            width: 275px;
          }
          80% {
            width: 275px;
          }
          90% {
            width: 0;
          }
          100% {
            width: 0;
          }
        }
        a {
          top: 69%;
          left: 56%;
          span {
            width: 150px;
            height: 33px;
            line-height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
