.channel {
  position: relative;
  transition: 0.5s ease-in-out;
  z-index: 500;
  .chat-btn {
    width: 55px;
    height: 55px;
    background-color: #2652ce;
    position: fixed;
    right: 50px;
    bottom: 43px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    &.on {
      transform: scale(0);
    }
    .icon {
      font-size: 21px;
      color: #fff;
      margin: 0;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 55px;
      height: 55px;
      position: absolute;
      z-index: -1;
      border-radius: 20px;
      background: rgba(38, 82, 206, 0.3);
    }
    &:before {
      animation: pulse 2s ease-out infinite;
    }
    &:after {
      animation: pulse 2s 0.5s ease-out infinite;
    }
  }

  .chat-wrap {
    position: fixed;
    top: 21%;
    right: 50px;
    box-sizing: border-box;
    width: 390px;
    border-radius: 29px;
    background: #fff;
    box-shadow: 5px 5px 9px 0px #cbcbcb8f, -5px -5px 6px 0px #dfdfdf3d;
    visibility: hidden;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: -1;
    &.on {
      opacity: 1;
      z-index: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
    .chat-header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 15px 20px;
      box-sizing: border-box;

      .backIcon {
        margin: 0;
        font-size: 25px;
        cursor: pointer;
      }

      .img1 {
        margin: 0;
        width: 45px;
        height: 45px;
        background: linear-gradient(
            to bottom,
            #181818 0%,
            #232323 40%,
            #1c1c1c 150%
          ),
          linear-gradient(
            to top,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.25) 200%
          );
        background-blend-mode: multiply;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 15px;
        img {
          width: 100%;
        }
      }
      .txt {
        margin: 0;
        .chat-user-name {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 18px;
        }
        span {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 13px;
        }
      }
    }
    .chat-container {
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0 10px;
      .info {
        padding: 10px;
      }
      .chatNon {
        display: block;
        padding: 20px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        color: #c2c2c2;
        font-weight: 400;
      }

      .admin-chat-room {
        .user-chat-room {
          .user-chat-wrap {
            height: 320px;
            overflow-y: auto;
            -ms-overflow-style: none;
            padding: 0 20px;
            padding-top: 20px;
            ::-webkit-scrollbar {
              display: none;
              width: 0px;
            }
            &::-webkit-scrollbar {
              width: 10px;
            }
            &::-webkit-scrollbar-thumb {
              height: 10%;
              background: #707070;
              border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
              background: rgba(111, 111, 111, 0.1);
            }

            .userWrap {
              width: 100%;
              display: flex;

              .userImgBox {
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin: 0;
                border-radius: 100%;

                img {
                  width: 100%;
                }
              }
              .userBox {
                margin: 0;
              }
            }

            ul {
              .chatUser {
                display: flex;
                justify-content: flex-start;
                .UserMessage {
                  display: inline-block;
                  padding: 5px 8px;
                  font-family: "Noto Sans KR", sans-serif;
                  color: #000;
                  border-radius: 15px;
                  background-color: #e9e9e9;
                }
              }
            }
            .chatAdmin {
              display: flex;
              justify-content: flex-end;
              .AdminMessage {
                display: inline-block;
                padding: 5px 8px;
                font-family: "Noto Sans KR", sans-serif;
                color: #000;
                border-radius: 5px;
                background-color: #e9e9e9;
              }
            }
          }

          .message {
            display: flex;
            margin: 20px 0;
            padding: 0;

            .message-text {
              display: inline-block;
              padding: 10px;
              background: #eee;
              box-sizing: border-box;
              font-family: "Noto Sans KR", sans-serif;
              font-size: 16px;
              border-radius: 13px;
              color: #171717;
            }
          }

          .admin {
            justify-content: flex-end;
            align-items: flex-end;
          }

          .user-chat-header {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            gap: 15px;
            box-sizing: border-box;
            background: #fff;

            .leftIcon {
              margin: 0;
              cursor: pointer;
              font-size: 20px;
            }

            .userImg {
              width: 50px;
              height: 50px;
              background: #aeaeae;
              overflow: hidden;
              border-radius: 100%;
              margin: 0;
              text-align: center;
              line-height: 65px;
              .userIcon {
                font-size: 30px;
                color: #fff;
                margin: 0;
              }
              img {
                width: 100%;
              }
            }

            .ChatBox {
              margin: 0;
              h3 {
                font-family: "Noto Sans KR", sans-serif;
                font-size: 15px;
                font-weight: 600;
              }
              .box-length {
                display: flex;
                align-items: center;
                gap: 5px;
                .ChatUserIcon {
                  margin: 0;
                  font-size: 13px;
                  color: #848484;
                }
                .userLength {
                  color: #848484;
                  font-size: 15px;
                  font-family: "Noto Sans KR", sans-serif;
                  font-weight: 500;
                }
              }
            }
          }
          .chat-input {
            padding: 10px 0;
          }
        }
      }
      .userChatList {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          background: #f3f3f3;
          border-radius: 10px;
        }

        .imgDiv {
          width: 35px;
          height: 35px;
          padding: 15px;
          overflow: hidden;
          background: #aeaeae;
          border-radius: 100000px;
          margin: 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .userIcon {
            font-size: 32px;
            color: #fff;
            margin: 0;
          }
          img {
            width: 110%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .userDiv {
          margin: 0;
          width: 168px;
          text-align: left;
          .userName {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
          .msg {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 14px;
            color: #888;
          }
        }
        .Div {
          text-align: right;
          .DivToday {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 11px;
            text-align: center;
            color: #606060;
            display: block;
          }
          .a {
            font-size: 11px;
          }
        }
      }
      .alarm {
        width: 100%;
        height: 40px;
        background: #f4f4f4;
        border-radius: 10px;
        padding: 9px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        .alarmIcon {
          color: #7f7f7f;
          line-height: 40px;
          margin: 0;
          margin-right: 15px;
        }
        span {
          font-family: "Noto Sans KR", sans-serif;
          color: #7f7f7f;
          font-size: 14px;
        }
      }
      .img2 {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        background: linear-gradient(
            to bottom,
            #181818 0%,
            #232323 40%,
            #1c1c1c 150%
          ),
          linear-gradient(
            to top,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.25) 200%
          );
        background-blend-mode: multiply;

        img {
          width: 100%;
        }
      }
      .chat-title {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 44px;
        color: #000;
      }
      .txt-box {
        width: 90px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding: 6px;
        border-radius: 12px;
        cursor: pointer;
        .txt-sub {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 13px;
          text-align: center;
          color: #606060;
          font-weight: 300;
        }
        .icon1 {
          margin: 0;
          font-size: 11px;
          color: #a8a8a8;
        }

        &:hover {
          background: #eee;
        }
      }
      .chat-box {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        height: 260px;
        overflow-y: auto;
        -ms-overflow-style: none;
        ::-webkit-scrollbar {
          display: none;
          width: 0px;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          height: 10%;
          background: #707070;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: rgba(111, 111, 111, 0.1);
        }

        .today {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 11px;
          text-align: center;
          color: #606060;
          display: block;
          padding-top: 20px;
          padding-bottom: 10px;
        }
        ul {
          .chat-contain-admin {
            width: 100%;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            padding: 0;
            flex-wrap: wrap;

            .chat-admin {
              margin-left: 20px;
              .img3 {
                width: 40px;
                height: 40px;
                background: linear-gradient(
                    to bottom,
                    #181818 0%,
                    #232323 40%,
                    #1c1c1c 150%
                  ),
                  linear-gradient(
                    to top,
                    rgba(255, 255, 255, 0.4) 0%,
                    rgba(0, 0, 0, 0.25) 200%
                  );
                background-blend-mode: multiply;
                border-radius: 100%;
                overflow: hidden;
                margin: 0;
                margin-right: 5px;
                img {
                  width: 100%;
                }
              }
              .chat-box-txt {
                margin: 0;
                .userId {
                  margin-left: 13px;
                  font-family: "Noto Sans KR", sans-serif, "Roboto";
                  font-size: 13px;
                  color: #bbbbbb;
                }
                p {
                  display: block;
                  width: 250px;
                  padding: 10px;
                  background: #eee;
                  box-sizing: border-box;
                  font-family: "Noto Sans KR", sans-serif;
                  font-size: 16px;
                  border-radius: 13px;
                  color: #171717;
                }
              }
            }
            .startChat {
              width: 80px;
              height: 30px;
              background: none;
              border-radius: 15px;
              cursor: pointer;
              font-family: "Noto Sans KR", sans-serif;
              font-weight: 500;
              border: 1.5px solid #a2a2a2ee;
              transition: 0.5s;
              margin-left: 65px;
              margin-top: 10px;
              color: #a2a2a2ee;
              &:hover {
                background: #000;
                color: #fff;
                border: 1.5px solid #000;
              }
            }
            .endChat {
              width: 80px;
              height: 30px;
              background: none;
              border-radius: 15px;
              cursor: pointer;
              font-family: "Noto Sans KR", sans-serif;
              font-weight: 500;
              border: 1.5px solid #a2a2a2ee;
              transition: 0.5s;
              margin-left: 8px;
              margin-top: 10px;
              color: #a2a2a2ee;
              &:hover {
                background: #000;
                color: #fff;
                border: 1.5px solid #000;
              }
            }
          }
          .chat-admin {
            display: flex;
            align-items: flex-end;
          }

          .chatMessage {
            display: flex;
            margin: 20px 0;
            padding: 0;
          }
          .chatUser-u {
            display: flex;
            justify-content: flex-end;

            .UserMessage-u {
              display: inline-block;
              padding: 5px 8px;
              font-family: "Noto Sans KR", sans-serif;
              color: #000;
              border-radius: 5px;
              background-color: #e9e9e9;
            }
          }
          .chatAdmin-a {
            display: flex;
            justify-content: flex-start;
            .AdminMessage-a {
              display: inline-block;
              padding: 5px 8px;
              font-family: "Noto Sans KR", sans-serif;
              color: #000;
              border-radius: 5px;
              background-color: #e9e9e9;
            }
          }
          .adminMessage {
            display: block;
            text-align: center;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 13px;
            color: #c2c2c2;
            margin: 20px 0;
          }
          .chatInfo {
            display: block;
            text-align: center;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 13px;
            color: #c2c2c2;
            margin: 20px 0;
          }
          .endMessage {
            display: block;
            text-align: center;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 13px;
            color: #c2c2c2;
            margin: 20px 0;
          }

          .admin {
            justify-content: flex-start;
          }
          .send {
            flex-direction: row-reverse;
            justify-content: flex-start;

            .img3 {
              margin-right: 0;
              margin-left: 5px;
            }
            .chat-box-txt {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .userId {
                text-align: right;
                display: block;
              }
            }
          }
        }
      }
    }
    .chat-bottom {
      width: 100%;
      display: flex;
      form {
        margin: 0;
        width: 100%;
        .react-emoji {
          .react-input-emoji--container {
            margin-left: 0;
            .react-input-emoji--wrapper {
              .react-input-emoji--input {
                padding: 9px 15px 11px;
              }
            }
          }
          .react-input-emoji--button {
            padding-right: 0;
          }

          .react-input-emoji--button svg {
            fill: #c6c6c6;
          }
          .react-input-emoji--button__show svg {
            fill: #72aeee;
          }
        }
      }
    }
  }
  .close-wrap {
    bottom: 43px;
    position: fixed;
    right: 50px;
    width: 55px;
    height: 55px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 5px 5px 9px 0px #dadadaa8, -5px -5px 6px 0px #dfdfdf87;
    line-height: 72px;
    text-align: center;
    cursor: pointer;

    visibility: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0);

    &.on {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .close {
      font-size: 30px;
      color: #515151;
      margin: 0;
    }
  }
}

@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .channel {
    .chat-btn {
      bottom: 22px;
    }
    .chat-wrap {
      top: 8%;
      right: 120px;
    }
    .close-wrap {
      bottom: 22px;
    }
  }
}
@media all and (max-width: 768px) and (min-width: 425px) {
  .channel {
    .chat-btn {
      bottom: 22px;
    }
    .chat-wrap {
      top: 7%;
      right: 119px;
    }
    .close-wrap {
      bottom: 22px;
    }
  }
}
@media all and (max-width: 425px) and (min-width: 375px) {
  .channel {
    .chat-btn {
      bottom: 22px;
      right: 18px;
    }
    .chat-wrap {
      padding: 10px 10px;
      width: 97%;
      top: 6%;
      right: 5px;
      .chat-container {
        .chat-box {
          ul {
            li {
              .img3 {
                width: 12%;
              }
            }
          }
        }
      }
      .chat-bottom {
        .react-emoji {
          .react-emoji-picker--container {
            .react-emoji-picker--wrapper {
              width: 100%;
            }
          }
        }
      }
    }
    .close-wrap {
      bottom: 22px;
      right: 18px;
    }
  }
}
@media all and (max-width: 375px) and (min-width: 320px) {
  .channel {
    .chat-btn {
      bottom: 22px;
      right: 18px;
    }
    .chat-wrap {
      padding: 10px 10px;
      width: 98%;
      top: 6%;
      right: 3px;
      .chat-container {
        .chat-box {
          ul {
            li {
              .img3 {
                width: 14%;
              }
            }
            .admin {
              flex-direction: column;
              align-items: flex-start;
            }
            .send {
              flex-direction: column;
            }
          }
        }
      }
      .chat-bottom {
        .react-emoji {
          .react-emoji-picker--container {
            .react-emoji-picker--wrapper {
              width: 100%;
            }
          }
        }
      }
    }
    .close-wrap {
      bottom: 22px;
      right: 18px;
    }
  }
}
