.newProduct {
  padding: 150px 0;
  padding-top: 300px;
  .container {
    width: 320px;

    .title {
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 33%;
        height: 3px;
        background: #000000;
        position: absolute;
        left: 107px;
        top: 45px;
      }
    }
    .img {
      width: 318px;
      height: 300px;
      border: 1px solid #eee;
      margin-bottom: 40px;
      overflow: hidden;
      > img {
        width: 100%;
      }
    }
    form {
      .file {
        width: 100%;
        height: 40px;
        border: 1px solid #cccccc;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
      }
      .name {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 36px;
      }
      .productName {
        width: 74.9%;
        height: 28px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 15px;
        margin-bottom: 20px;
      }
      .price {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 36px;
      }
      .productPrice {
        width: 74.9%;
        height: 28px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 15px;
        margin-bottom: 20px;
      }
      .subTitle {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 50px;
      }
      .subTitleOptions {
        width: 75%;
        height: 28px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        outline: none;
      }
      .category {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 20px;
      }
      .productCategory {
        width: 74.9%;
        height: 28px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 15px;
        margin-bottom: 20px;
      }
      .description {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 20px;
      }
      .productDescription {
        width: 74.9%;
        height: 28px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 15px;
        margin-bottom: 20px;
      }
      .options {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 52px;
      }
      .productOptions {
        width: 74.9%;
        height: 28px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 15px;
        margin-bottom: 20px;
      }

      .colorWrap {
        display: flex;
        flex-wrap: wrap;
        .colorFile {
          width: 100%;
          height: 40px;
          border: 1px solid #cccc;
          margin-bottom: 20px;
          padding: 7px;
          box-sizing: border-box;
        }
        span {
          font-family: "Noto Sans KR", sans-serif;
          margin-right: 26px;
        }
        .colorName {
          width: 39%;
          height: 28px;
          border: 1px solid #cccc;
          border-radius: 2px;
          padding: 0 12px;
          box-sizing: border-box;
          font-size: 15px;
          margin-right: 7px;
          margin-bottom: 20px;
          margin-left: 0;
        }
        .color {
          width: 35px;
          height: 28px;
          transition: 0.3s;
          margin: 0;
        }
        .color-btn-add {
          margin-left: 5px;
          width: 30px;
          height: 28px;
          margin-right: 6px;
          border-radius: 5px;
          border: 1px solid #cccc;
          line-height: 28px;
          font-size: 20px;
          color: #2d2d2d;
          &:hover {
            background: #000;
            color: #fff;
            border: none;
          }
        }
        .color-btn-remove {
          width: 30px;
          height: 28px;
          border-radius: 5px;
          border: 1px solid #cccc;
          line-height: 28px;
          font-size: 20px;
          color: #2d2d2d;
          &:hover {
            background: #000;
            color: #fff;
            border: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 768px) {
  .newProduct {
    padding-top: 163px;
  }
}
@media screen and (max-width: 320px) {
  .newProduct {
    padding-top: 100px;
    .container {
      width: 100%;
      padding: 120px 20px;
      box-sizing: border-box;
      .title {
        &::after {
          left: 89px;
          width: 36%;
        }
      }
      > form {
        .name {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productName {
          width: 100%;
          height: 40px;
        }
        .price {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productPrice {
          width: 100%;
          height: 40px;
        }
        .subTitle {
          margin-right: 0;
          margin-bottom: 10px;
          display: block;
        }
        .subTitleOptions {
          width: 100%;
          height: 40px;
        }
        .productSubTitle {
          width: 100%;
          height: 40px;
        }
        .category {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productCategory {
          width: 100%;
          height: 40px;
        }
        .description {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productDescription {
          width: 100%;
          height: 40px;
        }
        .options {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productOptions {
          width: 100%;
          height: 40px;
        }
        .color {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }
        .productColor {
          width: 100%;
          height: 40px;
        }
        .colorWrap {
          margin-bottom: 20px;
          span {
            display: block;
            margin-bottom: 10px;
            width: 100%;
          }
          .colorName {
            width: 46%;
            height: 40px;
            position: relative;
            float: left;
            margin-right: 10px;
          }
          .color {
            position: static;
            margin: 0;
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
          .color-btn-add {
            margin: 0;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
          .color-btn-remove {
            margin: 0;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
