.cart-length {
  position: relative;

  .length-out {
    display: none;
  }
  .length {
    position: absolute;
    top: -4px;
    left: 10px;
    font-size: 10px;
    display: block;
    width: 18px;
    height: 18px;
    background: #ef0528;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
  }
}
