.sport {
  width: 1250px;
  padding-top: 158px;
  position: relative;
  > h3 {
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top: 184px;
  }
  .sportWrap {
    box-sizing: border-box;
    padding-top: 90px;
    height: 442px;
    overflow: hidden;
    .slide {
      height: 290px;
      cursor: pointer;
      > img {
        width: 100%;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}
.swiper-button-prev {
  position: absolute !important;
  top: 50px !important;
  left: 1133px !important;
  width: 50px !important;
  height: 50px !important;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
  transition: 0.5s;

  &:hover {
    background: #000;
    border: 2px solid #000;
  }
  &:hover:after {
    color: #fff;
  }
}
.swiper-button-prev:after {
  color: #a6a6a6;
  text-align: center;
  line-height: 50px !important;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}
.swiper-button-next {
  position: absolute !important;
  top: 50px !important;
  right: 0 !important;
  width: 50px !important;
  height: 50px !important;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
  transition: 0.5s;
  &:hover {
    background: #000;
    border: 2px solid #000;
  }
  &:hover:after {
    color: #fff;
  }
}
.swiper-button-next:after {
  color: #a6a6a6;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

@media all and (max-width: 1024px) {
  .sport {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 72px;
    box-sizing: border-box;
    > h3 {
      font-size: 1.6rem;
      top: 111px;
    }
    .sportWrap {
      padding-top: 105px;
      .slide {
        height: 240px;
      }
    }
  }
  .swiper-button-prev {
    left: 858px;
    width: 45px;
    height: 45px;
  }
  .swiper-button-next {
    width: 45px;
    height: 45px;
  }
}
