@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Noto Sans KR", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  --swiper-theme-color: none;
}

* {
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}
button,
h1,
h2,
h3,
p,
span {
  color: #000;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
ul,
li {
  margin: 0;
}
a {
  cursor: pointer;
  margin: 0;
  color: #080808;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
